.comment-wrapper {
    padding: 1em;
    margin-top: 1em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;

    &:first-child {
        margin-top: 0;
    }

    .comment-info {
        margin-top: 1.25em;
        padding: 1em;
        border-top: 2px solid #ccc;
        text-align: left;
    }
}